@model ReceteViewModel

@{
    ViewData["Title"] = "Reçete";
}

<div class="container mt-5">
    <div class="form-container">
        <div class="form-header">
            <h4>Reçete - Hasta No: @Model.Hasta.HastaNo</h4>
        </div>
        <form method="post" asp-action="Kaydet">
            <input type="hidden" name="hastaNo" value="@Model.Hasta.HastaNo">
            <div class="form-group">
                <label for="tarih">Tarih</label>
                <input type="date" id="tarih" class="custom-input" placeholder="Tarih Seçin">
            </div>
            <div class="form-group">
                <label for="receteTurBtnGroup">Reçete Türü</label>
                <div class="btn-group" id="receteTurBtnGroup">
                    <button type="button" class="recete-btn" data-type="normal">Normal</button>
                    <button type="button" class="link-btn" onclick="openLink()">Renkli Reçete</button>
                    <button type="button" class="recete-btn" data-type="kirmizi">Kırmızı</button>
                    <button type="button" class="recete-btn" data-type="yesil">Yeşil</button>
                    <button type="button" class="recete-btn" data-type="mor">Mor</button>
                    <button type="button" class="recete-btn" data-type="turuncu">Turuncu</button>
                </div>
            </div>
            <div class="form-group custom-dropdown">
                <div>
                    <label for="recete">Reçete Ait Türü</label>
                    <select class="form-control custom-input" id="recete" name="ReceteAitTuru">
                        <option value="0">Ayaktan Reçetesi</option>
                        <option value="1">Yatan Reçetesi</option>
                        <option value="2">Taburcu Reçetesi</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="button" class="link-btn" onclick="openTani()">Tanı Ekle</button>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="tani-screen">Tanı Seç</label>
                    <div id="selectedList">
                        
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="ilac-screen">İlaç Ekle</label>
                    <div id="ilac-screen">
                        <div class="search-form" id="search-form">
                            <input type="text" name="search" placeholder="İlaç Adı veya Barkod" id="search-bar">
                            <button type="button" id="search-button">Ara</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="ilac-list" class="ilac-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th>İlaç Adı</th>
                            <th>Kutu</th>
                            <th>Doz</th>
                            <th>Veriliş Yolu</th>
                            <th>Periyot</th>
                            <th>Ekle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody id="ilac-list-body">
                        <!-- İlaçlar buraya eklenecek -->
                    </tbody>
                </table>
            </div>
            
            <div class="form-group">
                <label for="ilac-aciklama">Reçete Notu</label>
                <textarea class="form-control custom-input scrollable-box" id="ilac-aciklama" name="IlacAciklama" rows="5" maxlength="3000"></textarea>
                <div class="char-counter" id="char-count">0 / 3000</div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="onaylayan-doktor">Onaylayacak Doktor</label>
                    <select class="form-control custom-input" id="onaylayan-doktor" name="OnaylayanDoktorID">
                        <option value="">Doktor Seçiniz</option>
                        @foreach (var doktor in Model.Doktorlar)
                        {
                            <option value="@doktor.Value">@doktor.Text</option>
                        }
                    </select>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" id="elektronikOnay" name="ElektronikOnay">
                        <label class="form-check-label" for="elektronikOnay">
                            Bu raporu elektronik olarak onaylıyorum.
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="servis">Lütfen Servis Seçiniz</label>
                    <select class="form-control custom-input" id="servis" name="ServisID">
                        <option value="">Servis Seçiniz</option>
                        @foreach (var servis in Model.Doktor_Servisleri)
                        {
                            <option value="@servis.Value">@servis.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group button-group">
                <button type="button" class="btn btn-secondary">Vazgeç</button>
                <button type="submit" class="btn btn-primary" id="kaydetBtn" disabled>Kaydet</button>
                <button type="submit" class="btn btn-success" id="kaydetYazdirBtn" disabled>Kaydet ve Yazdır</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/recete.js"></script>
}