@{
    ViewData["Title"] = "Hasta İşlemleri";
}
@model IEnumerable<TaniProjesi.Models.Hastalar>

<form method="get" action="/HastaIslemleri/Index" class="search-form" id="search-form">
    <input type="text" name="search" placeholder="Ad, Soyad, Hasta No ile hasta arayınız." id="search-bar">
    <button type="submit">Ara</button>
</form>

<div id = "infinite-table">
    <table>
        <thead>
            <tr>
                <th>Hasta No</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Anne Adı</th>
                <th>Yapılacak İşlemler</th>
            </tr>
        </thead>
        <tbody id="hastalar">
            @foreach (var hasta in Model)
            {
                <tr>
                    <td>@hasta.HastaNo</td>
                    <td>@hasta.Adi</td>
                    <td>@hasta.Soyadi</td>
                    <td>@hasta.AnneAdi</td>
                    <td>
                        <button class="action-btn" data-hasta-id="@hasta.HastaNo">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="action-panel">
                            <button class="tanı-ekle" data-hasta-id="@hasta.HastaNo">Tanı Ekle</button>
                            <button class="recete-yaz" data-hasta-id="@hasta.HastaNo">Reçete Yaz</button>
                            <button class="alerji-ekle" data-hasta-id="@hasta.HastaNo">Alerji Ekle</button>
                            <button class="rapor-ekle" data-hasta-id="@hasta.HastaNo">Rapor Ekle</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/hastalar.js" defer></script>
}
